.DS_Store
*.iml
.gradle/
build/
*/build/
local.properties
build.config.properties
google-services.json
app/src/*/google-services.json
.idea/
captures/
.externalNativeBuild/
.cxx/
*.keystore
*.jks
!app/src/google/google-release.keystore
