<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 分析统计模块内容提供者 -->
    <application>
        <provider
            android:name=".provider.MetricsModuleProvider"
            android:authorities="${applicationId}.metrics.provider"
            android:exported="false" />
    </application>

</manifest>